# Configuración del servidor
PORT=3000

# Base de datos (Reemplaza los valores con los de tu MySQL local)
# Formato: mysql://USUARIO:CONTRASEÑA@HOST:PUERTO/NOMBRE_BD
DATABASE_URL="mysql://root:password@localhost:3306/backend_prueba"

# Autenticación JWT
JWT_SECRET="reemplaza_esto_por_un_secreto_seguro"

DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="backend_prueba"
DATABASE_HOST="localhost"